<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card darken-1">

        <div class="card-content black-text">
          <h3>Employee</h3>
          <form action="" #employeeForm="ngForm" (ngSubmit)="addEmployee">
            <div class="row">
              <div class="inputfield col s12">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="EmployeeService.selectedEmployee.name"
                  placeholder="Name">
              </div>
              <div class="inputfield col s12">
                <input type="text" name="position" #position="ngModel"
                  [(ngModel)]="EmployeeService.selectedEmployee.position" placeholder="Position">
              </div>
              <div class="inputfield col s12">
                <input type="text" name="office" #office="ngModel" [(ngModel)]="EmployeeService.selectedEmployee.office"
                  placeholder="Office">
              </div>
              <div class="inputfield col s12">
                <input type="number" name="salary" #salary="ngModel"
                  [(ngModel)]="EmployeeService.selectedEmployee.salary" placeholder="Salary">
              </div>
            </div>
            <div class="card-action">
              <div class="input-field col s12">
                <button class="btn" (click)="addEmployee(employeeForm)">Save</button>
                <button class="btn right" (click)="resetForm(employeeForm)">clean</button>
              </div>
            </div>
          </form>

        </div>

      </div>
    </div>
    <div class="col s7">
      <table class="striped">
        <thead>
          <tr>
            <th data-field="id">Name</th>
            <th data-field="name">Position</th>
            <th data-field="price">Office</th>
            <th data-field="price">Salary</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let employe of employeeService.employees">
            <td>{{item.name}} </td>
            <td>{{item.position}} </td>
            <td>{{item.office}} </td>
            <td>{{item.salary}} </td>
          </tr> -->

        </tbody>
      </table>
    </div>
  </div>
</div>